
.logo {
  width: auto;
  height: 40px;
  margin: 30px 0 40px 0;
  text-align: right;
}
.logo img {
  width: auto;
  height: 100%;
}
h1 span {
  font-size: 20px;
  color: #999;
}
h2 {
  margin-top: 50px;
}
.sample {
  margin: 20px 0 40px 0;
}

h1 {
  color: #DC0067;
}

.examples h4 {
  text-align: center;
  margin: 40px 0 10px 0;
  color: #DC0067;
}
.examples pre {
  margin: 30px 100px;
}

footer {
  text-align: center;
  margin-top: 50px;
  background-color: #DC0067;
  padding: 15px 0 5px 0;
  color: #FFF;
  line-height: 20px;
  font-size: 14px;
}











/* COMMON ELEMENTS */
.examples .buttons.inactive {
  color: rgba(0,0,0,.1);
}
.examples .buttons.inactive:hover {
  background-color: #fff !important;
}
.examples .buttons:active, .examples .buttons:focus { 
  outline: none
}







/* EXAMPLES */
#example1 {
  padding: 0;
  position: relative;
  overflow: hidden;
}
#example1 .viewport {
  position: relative;
  width: 100%;
  height: 150px;  /* you can define the height you want */
  overflow: hidden;
}

#example1 .buttons {
  display: block;
  position: absolute;
  line-height: 150px; /* in this case we use some height of viewport */
  width: 30px;
  top: 0; 
  text-align: center;
  z-index: 1;
  background-color: #FFF;
  border: 0;
  font-family: 'fontawesome';
}

#example1 .buttons i {
  font-size: 18px;
  color: #000;
  line-height: 150px;
}

#example1 .buttons:hover {
  background-color: #F3F3F3;
}

#example1 .overview {
  position: absolute;
  padding: 0 35px;
  margin: 0;
  left: 0;
  top: 0;
}

#example1 .overview ul {
  clear: both;
  list-style: none;
  height: 150px;
  padding: 0;
  line-height: 0;
}

#example1 li {
  display: inline-block;
  float: left;
  margin: 0 7px;
  height: 150px;
}

#example1 li img {
  width: auto;
  height: 100%;
}

#example1 .buttons.prev {
  left: 0;     /* if you're using 'x' axis */
}
#example1 .buttons.next {
  right: 0;    /* if you're using 'x' axis */
}







#example2 {
  padding: 0;
  position: relative;
  overflow: hidden;
}
#example2 .viewport {
  position: relative;
  width: 100%;
  height: 150px;  /* you can define the height you want */
  overflow: hidden;
}

#example2 .buttons {
  display: block;
  position: absolute;
  line-height: 150px; /* in this case we use some height of viewport */
  width: 30px;
  top: 0; 
  text-align: center;
  z-index: 1;
  background-color: #FFF;
  border: 0;
  font-family: 'fontawesome';
}

#example2 .buttons i {
  font-size: 18px;
  color: #000;
  line-height: 150px;
}

#example2 .buttons:hover {
  background-color: #F3F3F3;
}

#example2 .overview {
  position: absolute;
  padding: 0 35px;
  margin: 0;
  left: 0;
  top: 0;
}

#example2 .overview ul {
  clear: both;
  list-style: none;
  height: 150px;
  padding: 0;
  line-height: 0;
}

#example2 li {
  display: inline-block;
  float: left;
  margin: 0 7px;
  height: 150px;
}

#example2 li img {
  width: auto;
  height: 100%;
}

#example2 .buttons.prev {
  left: 0;     /* if you're using 'x' axis */
}
#example2 .buttons.next {
  right: 0;    /* if you're using 'x' axis */
}





#example3 {
  padding: 0;
  position: relative;
  overflow: hidden;
}
#example3 .viewport {
  position: relative;
  width: 220px;
  height: 400px;  /* you can define the height you want */
  overflow: hidden;
  margin: 0 auto;
}

#example3 .buttons {
  display: block;
  position: absolute;
  line-height: 30px;
  width: 220px;
  left: 0; 
  text-align: center;
  z-index: 1;
  background-color: #FFF;
  border: 0;
  font-family: 'fontawesome';
}

#example3 .buttons i {
  font-size: 18px;
  color: #000;
  line-height: 150px;
}

#example3 .buttons:hover {
  background-color: #F3F3F3;
}

#example3 .overview {
  position: absolute;
  padding: 35px 0;
  margin: 0;
  left: 0;
  top: 0;
}

#example3 .overview ul {
  list-style: none;
  height: 150px;
  padding: 0;
  line-height: 0;
}

#example3 li {
  display: inline-block;
  width: 100%;
  margin: 7px 0;
}

/* this example uses <a> */
#example3 li a {
  display: block;
  width: 220px;
  height: 150px;
  margin: 0;
}


#example3 .buttons.prev {
  top: 0;     /* if you're using 'x' axis */
}
#example3 .buttons.next {
  bottom: 0;    /* if you're using 'x' axis */
}





#example4 {
  padding: 0;
  position: relative;
  overflow: hidden;
}
#example4 .viewport {
  position: relative;
  width: 220px;
  height: 400px;  /* you can define the height you want */
  overflow: hidden;
  margin: 0 auto;
}

#example4 .buttons {
  display: block;
  position: absolute;
  line-height: 30px;
  width: 220px;
  left: 0; 
  text-align: center;
  z-index: 1;
  background-color: #FFF;
  border: 0;
  font-family: 'fontawesome';
}

#example4 .buttons i {
  font-size: 18px;
  color: #000;
  line-height: 150px;
}

#example4 .buttons:hover {
  background-color: #F3F3F3;
}

#example4 .overview {
  position: absolute;
  padding: 35px 0;
  margin: 0;
  left: 0;
  top: 0;
}

#example4 .overview ul {
  list-style: none;
  height: 150px;
  padding: 0;
  line-height: 0;
}

#example4 li {
  width: 100%;
  display: inline-block;
  margin: 7px 0;
}


#example4 .buttons.prev {
  top: 0;     /* if you're using 'x' axis */
}
#example4 .buttons.next {
  bottom: 0;    /* if you're using 'x' axis */
}








@media (max-width:767px) {
  .examples pre {
    margin: 30px 0;
  }
}










